//.grid-container {
//  display: grid;
//  grid-template-columns: 200px auto;
//  grid-template-rows: auto 100%;
//  grid-template-areas: "header header" "sidebar main";
//  height: 100vh;
//}
//
//app-toolbar {
//  grid-area: header;
//}
//
//app-sidebar {
//  grid-area: sidebar;
//}
//
//.grid-main {
//  grid-area: main;
//}
//
//app-trip-overview, app-person-overview, app-trip-detail, app-user-home {
//  grid-area: main;
//}
//
//app-sub-toolbar {
//  grid-area: main;
//}
//
//
//
