app-person-balance {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.accordion-balances {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;

  width: 100%;
  margin: 0 10px 0 auto;
}

.accordion-content {
  display: flex;
  justify-content: space-between;
}
