////*** CARDS ***//
//.app-person-cards {
//  display: grid;
//
//  //width: 90%;
//  //max-width: 1240px;
//  margin: 0 auto;
//
//
//  grid-template-columns: 1fr 1fr 1fr 1fr;
//  //grid-template-columns: 25% 25% 25% 25%;
//  grid-template-rows: auto;
//  grid-gap: 20px;
//}
//
//.app-person-card {
//  display: flex;
//  flex-direction: column;
//  min-height: 100%;
//
//  overflow-wrap: break-word;
//}
