/* You can add global styles to this file, and also import other style files */
/*** BOOTSTRAP ***/
@import 'styles/bootstrap-4.1.3-dist/css/bootstrap.css';
/*** ANGULAR MATERIAL ***/
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
//@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'styles/custom-angular-theme';
/*** GRID ***/
@import 'styles/grid';

//#bootstrap-overrides { /* 100+1=101 priority score, yay! */
// color: #1e7e34;
//}

.app-invalid-feedback {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

.app-card {
  padding: 15px !important;
}

.app-accordion {
  margin-top: 15px !important;
}

.app-create-button {
  margin: 15px 0 15px !important;
}

.input-group-text {
  width: 120px;
}

button:focus {
  outline: 0;
}

.accordion .card:first-of-type .collapse {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/*** ICONS ***/
.logout-icon {
  padding: 0 !important;
  min-width: 35px !important;
  line-height: 35px !important;
}

/*** SIDEBAR ***/
.app-sidebar {
  padding-top: 0 !important;
}

/*** EXPENSE TABLE ***/
table {
  width: 100%;
}

/*** MODAL ***/
.full-width-input {
  width: 100%;
}

.cdk-overlay-container, .cdk-overlay-pane {
  z-index: 9999 !important;
}

//*** BALANCE ***//
.positive-balance {
  color: #52EB7C;
}

.negative-balance {
  color: #9E0F11;
}

//app-person-balance {
//  width: 20%;
//}

//*** CARDS ***//
.app-person-cards {
  display: grid;

  //width: 90%;
  //max-width: 1240px;
  margin: 0 auto;


  grid-template-columns: 1fr 1fr 1fr 1fr;
  //grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  grid-gap: 20px;
}

.app-person-card {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  overflow-wrap: break-word;
}

//*** TITLE ***//
.app-title {
  font-size: 0.75em;
}


//*** MEDIA ***//
//@media only screen and (min-width: 600px) {
//  .app-person-cards {
//    grid-template-columns: 1fr 1fr;
//  }
//}
//
//@media only screen and (min-width: 900px) {
//  .app-person-cards {
//    grid-template-columns: 1fr 1fr 1fr 1fr;
//  }
//}
